<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google scraper</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<div class="container">
<h1>Google scraper</h1>
<div class="ip">Client ip: {{ ip }}</div>
<form method="GET">
    {{ form }}
    <button type="submit" value="Szukaj">Szukaj</button>
</form>

<p class="counter">Znaleziono wyników: {{ results_count }}</p>

{% if popular_keywords %}
Słowa kluczowe na pierwszej stronie:
<ol class="keywords">
{% for  keyword in popular_keywords %}
    <li>
        {{ keyword.0 }}: {{ keyword.1 }},
    </li>
{% endfor %}
</ol>
{% endif %}


{% for result in results %}
    <a href="{{ result.link }}">
        <h3>[{{ forloop.counter }}] {{ result.title }} </h3>
        <cite>{{ result.link }}</cite>
        <span class="description">{{ result.description }}</span>
    </a>
{% endfor %}
</div>
</body>
</html>